/[Ll]ibrary/
/[Oo]bj/
/[Ll]ogs/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.meta